[submodule "sdl2"]
	path = sdl2
	url = https://github.com/bl3utide/iplib-sdl2
[submodule "imgui"]
	path = imgui
	url = https://github.com/bl3utide/iplib-imgui
[submodule "rtmidi"]
	path = rtmidi
	url = https://github.com/bl3utide/iplib-rtmidi
[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL
